* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utility */


/* #region griglia */
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

/* #endregion griglia */

.container {
    width: 70%;
    margin: auto;
}

.flex {
    display: flex;
}

.align_center {
    justify-content: space-around;
    align-items: center;
}

.space_between {
    align-content: space-between;
}


/* #endregion utility */

/* #region debug */
header.debug {
    background-color: aqua;

}

main.debug {
    background-color: rgba(255, 0, 217, 0.37);
}

/* #endregion debug */
a {
    text-decoration: none;
}

.row {
    padding-top: 0.75rem;
    flex-wrap: wrap;
}

header,
button {
    font-size: 0.65rem;
}

p,
h2 {
    text-align: center;
}